html
  head
    title Page Not Found
    meta(charset="UTF-8")
    link(rel = "stylesheet", href="/stylesheets/home.css")
    include favicons.pug
  body
    include home-header.pug
    h1#title Page not Found
    p I am sorry, but the page that you have requested could not be found.
    p Please click one of the above links to continue.